{% extends "base.html" %}
{% load static %}

{% block title %}Reserva Confirmada{% endblock %}

{% block content %}
<div class="confirm">
    <h2>¡Reserva confirmada!</h2>
    <ul>
        <li>Cliente: {{ reserva.cliente.get_full_name }}</li>
        <li>Mesa: {{ reserva.mesa.numero }} (Capacidad: {{ reserva.mesa.capacidad }})</li>
        <li>Fecha: {{ reserva.fecha }}</li>
        <li>Hora: {{ reserva.hora }}</li>
        <li>Personas: {{ reserva.personas }}</li>
    </ul>
    <a href="{% url 'perfil_usuario' %}">Ver historial de reservas</a>
    <br>
    <a href="{% url 'disponibilidad_y_reserva' %}">Hacer otra reserva</a>
</div>
{% endblock %}
